<div class="row">
    <div class="col-md-6 mx-auto">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group text-right">
            <button class="btn btn-success">{{ __u(button_label|default('Save')) | title }}</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>